@import "tailwindcss";

@theme {
  /* Card Hover */
  --shadow-cardhover-container: 0px 0px 0px 1px rgba(9, 9, 11, 0.08),
    0px 1px 2px -1px rgba(9, 9, 11, 0.08), 0px 2px 4px 0px rgba(9, 9, 11, 0.04);
  --shadow-cardhover-description: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.08), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}

@layer components {
  .center-container {
    @apply my-10 w-full flex flex-col items-center;
  }
  /* Download Arrow */
  .downloadarrow-button svg:first-of-type {
    transform: translateY(-150%);
  }
  .downloadarrow-button:hover svg:first-of-type {
    transform: translateY(0);
  }
  .downloadarrow-button:hover svg:last-of-type {
    transform: translateY(150%);
  }
  /* Text Reveal */
  @keyframes reveal {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .animation-text-reveal {
    animation: reveal 1.3s cubic-bezier(0.19, 1, 0.22, 1) backwards;
    animation-delay: calc(0.1s * var(--index));
    color: red;
  }
}
